@using RedjoBarbers.Web.Data.Models
@model IEnumerable<RedjoBarbers.Web.Data.Models.Appointment>

<h2>Записани часове</h2>

@{
    string returnUrl = Url.Action("Create", "Appointment")!;
}
<p>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <a asp-action="Create"
           class="btn btn-primary cta-btn">
            Планирай посещение
        </a>
    }
    else
    {
        <a asp-area="Identity"
           asp-page="/Account/Login"
           asp-route-returnUrl="@returnUrl"
           class="btn btn-primary cta-btn">
            Планирай посещение
        </a>
    }
</p>

<table class="table">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Статус</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Appointment a in Model)
        {
            <tr>
                <td>@a.AppointmentDate</td>
                <td>@a.Status</td>
            </tr>
        }
    </tbody>
</table>
