<div class="dropdown">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Моят профил
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
        <li>
            <a class="dropdown-item" href="#">Влез</a>
        </li>
        <li>
            <a class="dropdown-item" href="#">Регистрирай се</a>
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li>
            <a class="dropdown-item" asp-controller="Appointment" asp-action="MyAppointments">
                Моят профил
            </a>
        </li>
    </ul>
</div>