html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #f5f5f5;
}

.contact-photo {
    width: 192px;
    height: 192px;
    object-fit: cover; 
    object-position: center;

    border-radius: 50%;
    display: block;
    background-color: #f2f2f2;
}

.contacts-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 24px;
}

.contact-links {
    display: flex;
    align-items: center;
    gap: 0px;
    margin-top: -10px;
    margin-bottom: 20px;
    padding: 0;
    line-height: 1;
}

.social-link {
    font-size: 2rem;
    color: #333;
}

.service-card {
    padding: 24px;
    border-radius: 12px;
    background: #f8f9fa;
    height: 100%;
    text-align: center;
    transition: transform .2s ease, box-shadow .2s ease;
}

.service-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgb(0, 0, 0);
}